.social__item-dark {
  @include inlineblock(middle);
  margin-left: 12px;

  &:first-child {
    margin-left: 0;
  }
}

.social__item-white {
  @include inlineblock(middle);
  margin-left: 23px;
  margin-bottom: 22px;

  &:first-child {
    margin-left: -7px;
  }
}

.social__text{
  opacity: 0;
}

.social__link{
  display: block;
}

$socials: fb, vk, tw;

@each $social in $socials {
  .social__item_white-#{$social} {
    .social__icon-white {
      @include get-sprite($socials-white-map, $social);
    }
  }
}

@each $social in $socials {
  .social__item_dark-#{$social} {
    .social__icon-dark {
      @include get-sprite($socials-dark-map, $social);
    }
  }
}
