.header__social{
  float: left;
  width: 50%;
}
.footer__social{
  //float: left;
  //width: 50%;
}
.social__item {
  @include inlineblock(middle);
  margin-left: 12px;

  &:first-child {
    margin-left: 0;
  }
}

.social__text{
  opacity: 0;
}

.social__link{
  display: block;
  //width: 26px;
  //height: 26px;
  //@include border-radius(50%);

  //background: #333333;
  //position: relative;
}

//.sociall_icon {
//  @include absolute-center;
//}

$socials: fb, vk, tw;
$socials-white-map: sprite-map('social-white/*.png', $spacing: 70px);
$socials-dark-map: sprite-map('social-dark/*.png', $spacing: 70px);

@each $social in $socials {
  .social__item_white-#{$social} {
    .social__icon-white {
      @include get-sprite($socials-white-map, $social);
    }
  }
}

@each $social in $socials {
  .social__item_dark-#{$social} {
    .social__icon-dark {
      @include get-sprite($socials-dark-map, $social);
    }
  }
}
