@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300&subset=latin,cyrillic);

@mixin open-sans($style: regular) {
  font-family: 'Open Sans';

  @if ($style == light) {
    font-weight: 100;
  }
  @if ($style == regular) {
    font-weight: 400;
  }
  @if ($style == semibold) {
    font-weight: 600;
  }
  @if ($style == bold) {
    font-weight: 700;
  }
}