doctype html
<!--[if IE 8]>
<html lang="ru-RU" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru-RU">
<!--<![endif]-->
head
    include head
body.bg
  .wrapper
    include ../blocks/header/header
    .middle.clearfix
      include ../blocks/sidebar/sidebar
      block content
  include ../blocks/footer/footer
  script(src="vendor.js")
  script(src="custom.js")
