doctype html
<!--[if IE 8]>
<html lang="ru-RU" class="lt-ie9">
<![endif]-->
<!--[if gt IE 8]><!-->
<html lang="ru-RU">
<!--<![endif]-->
head
    include head
body.bg
  <!--[if lt IE 8]>
  <p class="chromeframe"> Вы используете устаревший браузер </p>
  <![endif]-->

  .wrapper
    include ../blocks/header/header
    include ../blocks/breadcrumbs/breadcrumbs

    .middle.clearfix
      block content

  include ../blocks/footer/footer

  script(src="vendor.js")
  script(src="custom.js")
