ul.colors
  - var colors = ['ffffff','cccccc','000000','0a3153','ff1800','fff343','fb914a','92c37c','40a6ff','9870ad','dc78ad','7f401d']
  each color in colors
    li.colors__item
      a(href='#', style='background-color: #' + color).colors__link
  .colors__reset-wrap
    a(href='#').colors__reset сбросить фильтр