ul.select-shop.clearfix
  - var shopsItems = ['Во всех магазинах','В ближайшем ко мне магазине']
  each shopsItem in shopsItems
    li.select-shop__item
      label.select-shop__label
        input(name='location', type='radio').select-shop__input
        .select-shop__elem
        .select-shop__text= shopsItem