.sort
  .sort__left
    .sort__select-wrap
      .sort__title
        | Сортировать по
      .sort__select
        select.sort__select-elem
          - var options = ['по цене','по популярности']
          each option in options
            option(value="")= option
  .sort__right
    .sort__title
      | Вид каталога
    .sort__view
      ul.sort__view-list
        - var sorts = ['rows','grids','lines']
        each sort in sorts
          li(class="sort__view-item sort__view-" + sort, data-view= sort)
            a(href="#").sort__view-link
              .sort__view-icon