- var navItems = ['Планшеты','Мобильные телефоны','МР3 плееры','Персональные компьютеры','Ноутбуки','Аксесуары','Бытовая техника']
ul.nav__list.clearfix
  each navItem in navItems
    li(class="nav__item nav__item_" + ((navItem == "Мобильные телефоны") ? ' active' : ''))
      a(href="#").nav__link= navItem