.search{
  float: left;
  margin-right: 46px;
  //margin-left: 50px;
}

.search__query{
  border: 1px solid #dee1e4;
  @include border-radius(5px);
  padding: 8px 15px;
  width: 259px;
  margin-right: -7px;

  outline: none;
}

.search__submit{
  width: 78px;
  height: 36px;
  background: $orange;
  color: #fff;
  @include open-sans(semibold);
  @include border-radius(0 5px 5px 0);
  border: 1px solid $orange;

  outline: none;
}