.footer{
  .footer__logo,
  .footer__social,
  .footer__copyright
  {
    @extend .wrap-common;
    margin: 0 auto;
  }

  height: $footer-height;
  margin-top: -$footer-height;
  //noinspection CssUnknownTarget
  background-image: url('/i/footer-bg.png');
  @include set_font("open_sans",14px, #fff);
}