.footer
  - var blockPosition="footer"
  .footer__top.clearfix
    .footer__logo
      include ../logo/logo
    .footer__right
      .footer__social
        include ../social/social
      .footer__nav
        nav.nav
          - var navItems = ['планшеты','мобильные телефоны','МР3 плееры','персональные компьютеры','ноутбуки','аксесуары','бытовая техника']
          ul
            each navItem in navItems
              li(class="footer__nav-item footer__nav-item_" + ((navItem == "мобильные телефоны") ? ' active' : ''))
                a(href="#").nav__link= navItem
  .footer__bottom
    .footer__copyright
      | All rights reserved. 2015. no copy alowed