.footer
  - var blockPosition="footer"
  .footer__top.clearfix
    .footer__logo
      include ../logo/logo
    .footer__right
      .footer__social
        include ../social/social
      .footer__nav
        nav.nav
          - var navItems = ['Планшеты','Мобильные телефоны','МР3 плееры','Персональные компьютеры','Ноутбуки','Аксесуары','Бытовая техника']
          ul.footer__nav-list
            each navItem in navItems
              li(class=blockPosition + "__nav-item" + ((navItem == "мобильные телефоны") ? ' active' : ''))
                a(href="#").footer__nav-link= navItem
  .footer__bottom
    .footer__copyright
      | All rights reserved. 2015. no copy alowed