.price-slider
  .price-slider__displays.clearfix
     .price-slider__from
       .price-slider__text от
       input(name='', type='text', placeholder='').price-slider__from-value
     .price-slider__to
       .price-slider__text до
       input(name='', type='text', placeholder='').price-slider__to-value
  .price-slider__element