extends ../templates/layout
block content
  .content
    ul
    li item
    li item
    li item
    li item
    li item
    li item
    li item
    li item
    li item
    li item
    li item
    li item
    li item
    li item
    li item