.filter{
  background-color: #fff;
  -webkit-box-shadow:  2px 2px 2px gray;
  -moz-box-shadow: 2px 2px 2px gray;
  box-shadow:  2px 2px 2px gray;

}
.filter__content {
  display: none;
}
.filter li.active .filter__content {
  display: block;
}

.filter__item {
  padding: 12px 26px;
  border-bottom: 1px solid $gray;
}

.filter__header{
  @include open-sans();
  font-size: 16px;

  cursor: pointer;

  padding: 2px;
}