.header
  .header__top
    include ../social/social
  .header__middle.clearfix
    .header__logo
      include ../logo/logo
    .header__search
      include ../search/search
  .header__bottom
    include ../main-menu/main-menu