.header
  - var blockPosition="header"
  .header__top
    .header__top-content
      include ../social/social
      include ../address/address
  .header__middle
    .header__middle-content.clearfix
      .header__logo.clearfix
        - var blockPosition="header"
        include ../logo/logo
      .header__search.clearfix
        include ../search/search
      .header__menu.clearfix
        include ../menu/menu
  .header__bottom
    .header__bottom-content
      nav.nav
        include ../nav/nav