.header{
  margin-bottom: 28px;
}
.header__top,
.header__bottom {
  &-content{
    @extend .wrap-common;
    @include clearfix;
  }
  background-color: #fff;
  -webkit-box-shadow:  2px 2px 2px gray;
  -moz-box-shadow: 2px 2px 2px gray;
  box-shadow:  2px 2px 2px gray;
}

.header__middle
{
  @extend .wrap-common;
  margin: 30px auto;
}

.header__search{
  float: left;
  //width: 400px;
}
.header__logo{
  float: left;
  padding-right: 56px;
}

.header__bottom{
}

.header__top{
  min-height: 78-25px;
  padding-top: 25px;
}

