.header
  .header__top
    .header__top-content
      include ../social/social
      include ../address/address
  .header__middle
    .header__middle-content.clearfix
      .header__logo
        include ../logo/logo
      .header__search
        include ../search/search
  .header__bottom
    .header__bottom-content
      include ../main-menu/main-menu